name: CI/CD pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 12.x, 14.x, 16.x ]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Create logs directory
        run: |
          mkdir -p logs

      - name: Install dependencies
        run: |
          npm ci --loglevel verbose 2>&1 | tee logs/install.log

      - name: Build the app
        run: |
          npm run build --if-present --loglevel verbose 2>&1 | tee logs/build.log

      - name: Run tests
        run: |
          npm test --loglevel verbose 2>&1 | tee logs/test.log

      - name: Upload logs as artifact
        uses: actions/upload-artifact@v2
        with:
          name: Logs ${{ matrix.node-version }}
          path: logs/

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Use Node.js 16.x
        uses: actions/setup-node@v2
        with:
          node-version: 16.x
          cache: 'npm'

      - name: Deploy to npm
        run: |
          npm install -g npm-cli-login

          npm audit fix

          NPM_USER = "aleks-ivanov"
          NPM_PASS = ${{ secrets.NPM_PASSWORD }}
          NPM_EMAIL = "aleksandar.ivanov@singlet.dev"

          npm-cli-login -u $NPM_USER -p $NPM_PASS -e $NPM_EMAIL

          npm publish --access public

      # - name: Deploy app to Heroku
      #   uses: akhileshns/heroku-deploy@v3.12.12
      #   with:
      #     heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
      #     heroku_app_name: "aais-simple-node-api"
      #     heroku_email: "aleksandar.ivanov@singlet.dev"
